* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .inline {
  display: inline-block;
} */


header {
  height: 153px;
  background-color: lightblue;
  margin: auto;
  padding: 20px;
}

.container {
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

select {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}

.search {
 width: 40%;
}

#cards-container {
  display: flex;
  height: 100vh;
  background-color: lightgrey;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.cards {
  width: 220px;
  height: 350px;
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(70, 70, 70, 0.2) 2px 2px 2px 1px, rgba(70, 70, 70, 0.2) 2px 2px 2px 1px;
  text-align: center;
  display: flex;
}
